:root {
  --primary-color: #feb000;
}
/*tutor info details */

.tutor-info-details {
  display: block;
  overflow: auto;
  line-height: 24px;
  padding-top: 1rem;
}

.tutor-info-details-text {
  max-width: 250px;
  margin-bottom: 20px;
  display: flex;
  word-wrap: break-word;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.tutor-info-details-text .icon {
  font-size: 12px;
  color: var(--primary-color);
  margin-right: 10px;
}

.tutor-info-img .student-feedback {
  padding-top: 1rem;
}
.tutor-info-details-text .info {
  margin-right: 10px;
  display: block;
  word-wrap: break-word;
}

a {
  color: gray;
}
.tutor-info-name {
  color: var(--primary-color);
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: bold;
  letter-spacing: -0.05rem;
  font-size: 1.5rem;
  font-style: strong;
  text-decoration: none;
}

.courses {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary-color);
}
.course-details {
  color: gray;
  display: flex;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 1rem;
  font-style: italic;
}

.course-details-text ~ .course-details-text::before {
  content: ", ";
}
.tutor-certifications {
  padding-top: 1rem;
  font-weight: bold;
  color: var(--primary-color);
}

.tutor-certi-details {
  font-family: "DINWeb", Arial, sans-serif;
  line-height: 2rem;
}

/*student feedback */

.student-feeback-name {
  font-weight: bold;
  color: var(--primary-color);
}
.total-stars-container {
  display: flex;
  color: rgb(180, 105, 14);
}
.total-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(180, 105, 14);
  align-items: center;
}
.rating-value {
  font-size: 3.7rem;
}

.rating-stars {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}

/* widgets */

.reviews-container {
  padding-top: 1rem;
}
